{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/css/search-bar_style.css">
<link rel="stylesheet" href="/css/pokemon_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/login.css">
<title>Login</title>
{% endblock %}

{% block content %}
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Register</h3>
          </div>
        </div>
        <form class="login-form" action="" method="post">
            {{form.hidden_tag()}}
            {{form.username}}
            {{form.password}}
            {{form.submit}}
        </form>
      </div>
    </div>
{% endblock %}