<!DOCTYPE html>
<html>
<head>
    <title>Catalogue Pokémon</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }
        .grid-item {
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Catalogue Pokémon</h1>
    {% if form %}
        <form method="POST" action="{{url}}">
            {{ form.hidden_tag() }}
            <label name="numero">Numéro de page :</label><br>
            {{ form.numero(size=20) }}<br>
            <label name="size">Nombre de Pokémon par page :</label><br>
            {{ form.size(size=20) }}<br>
            <input type="submit" value="Soumettre">
        </form>
    {% endif %}

    <div class="grid-container">
        {% for pokemon_name in pokemons_name %}
            <div class="grid-item">{{ pokemon_name }}</div>
        {% endfor %}
    </div>
 <p>{{pokemons_name}}</p>
</body>
</html>
