<!DOCTYPE html>
<html>
<head>
    <title>Catalogue Pokémon</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }
        .grid-item {
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Catalogue Pokémon</h1>

    <form method="POST">
        {{ page_form.hidden_tag() }}
        <label for="numero">Numéro de page :</label><br>
        {{ page_form.numero(size=20) }}<br>
        <label for="size">Nombre de Pokémon par page :</label><br>
        {{ page_form.size(size=20) }}<br>
        <input type="submit" value="Soumettre">
    </form>

    <div class="grid-container">
    {% for pokemon in pokemons.results %}
        <div class="grid-item">{{ pokemon.name }}</div>
    {% endfor %}
    </div>

    <button onclick="window.location.href='{{ url_for('index', numero=location-1 if location > 0 else 0, size=nb_pokemon_by_page) }}'">Page précédente</button>
    <button onclick="window.location.href='{{ url_for('index', numero=location+1, size=nb_pokemon_by_page) }}'">Page suivante</button>

</body>
</html>
