<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./Style.css">
</head>
<body>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <img src="pokeApi.png" width="60%">
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Language</h4>
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Français</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>