<!DOCTYPE html>
<html lang="fr">
<head>
    {% extends "layout.html" %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Pokedex mobile</title>
</head>
<body>
    {% block header %}
    {{ super() }}
        <div class="corps">
        <form form method="POST" action="/">
            {{ form.csrf_token }}
            <div class="field">
                {{ form.pokemon.label }} : {{ form.pokemon() }}
            </div>
            <input type="submit" value="Rechercher" id="button_recherche">
        </form>
    </div>
    {% endblock %}

    {% block footer %}
    {{ super() }}
    {% endblock %}
</body>
</html>