<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Say my name !</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
  <nav>
    <ul>
      <li><a href="">Accueil</a></li>
      <li><a href="">Pokémon</a></li>
      <li><a href="">Items</a></li>
    </ul>
    <button>Connexion</button>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="Nom d'utilisateur" required>
      <input type="password" name="password" placeholder="Mot de passe" required>
      <input type="submit" value="Connexion">
    </form>
  </nav>
  <header>
    
  </header>
  <div>
    {{}}
  </div>
  <footer>

  </footer>
</body>
</html>