<!DOCTYPE html>
<html lang="fr">
<head>
    {% extends "layout.html" %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Pokedex mobile</title>
</head>
<body>
    {% block header %}
    {{ super() }}
        <div class="corps">
        <form action="#">
            <input type="text" name="nompokemon" id="recherche" placeholder="Nom du pokemon">
            <input type="submit" value="Rechercher" id="button_recherche">
        </form>
    </div>
    {% endblock %}

    {% block footer %}
    {{ super() }}
    {% endblock %}
</body>
</html>