<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/login.css">
<title> Login Page </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Login</h3>
          </div>
        </div>
        <form class="login-form" action="/form_login" method="post">

            <h2 class="text" >Poke Login</h2>

            <h3 class="strong" >{{info}} </h3>

            <input class="txt_field" type="text" value="" placeholder="Username" id="username" />
            <input class="txt_field" type="password" value="" placeholder="Password" id="password" />

            <button value="Login">Submit</button>
        </form>
      </div>
    </div>
</body>
</body>
</html>