<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
<title>Pokédex : {{ poke_infos.name.fr }}</title>
{% endblock %}
{% block header %}
{{ super() }}
<div class="corps" style="margin-top: 85px;">
    <form form method="POST" action="/fr">
        {{ form.csrf_token }}
        {{ form.recherche() }}
        <input type="submit" value="Rechercher" id="button_recherche">
    </form>
</div>
{% endblock %}
{% block content %}
<main>
    <h1>{{ poke_infos.name.fr }} ({{ poke_infos.name.en }} / {{ poke_infos.name.jp }})</h1>
    <img id="image1" src="{{ poke_infos.sprites.regular }}" alt="Image régulière" onclick="toggleImages()">
    <img id="image2" class="hidden" src="{{ poke_infos.sprites.shiny }}" alt="Image shiny" onclick="toggleImages()">
    {% if poke_infos.sprites.gmax %}
    <img src="{{ poke_infos.sprites.gmax }}" alt="Image G-Max">
    {% endif %}
    <h2>Types</h2>
    {% for type in poke_infos.types %}
    <img src="{{ type.image }}" alt="{{ type.name }}">
    {% endfor %}
    <h2>Talents</h2>
    <ul>
        {% for talent in poke_infos.talents %}
        <li>{{ talent.name }} {% if talent.tc %}(TC){% endif %}</li>
        {% endfor %}
    </ul>
    <h2>Statistiques</h2>
    <ul>
        {% for stat, value in poke_infos.stats.items() %}
        <li>{{ stat }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <h2>Résistances</h2>
    <table>
        <tr>
            {% for resistance in poke_infos.resistances %}
            <th>{{ resistance.name }}</li>
                {% endfor %}
        </tr>
        <tr>
            {% for resistance in poke_infos.resistances %}
            <td>{{ resistance.multiplier }}</td>
            {% endfor %}
            </th>
    </table>
    <h2>Évolution</h2>
    {% if poke_infos.evolution.pre or poke_infos.evolution.mega %}
    {% if poke_infos.evolution.pre %}
    <ul>
        {% for evolution in poke_infos.evolution.pre %}
        <li><a href="/{{ evolution.pokedexId }}">{{ evolution.name }} (ID : {{ evolution.pokedexId }})</a> - Condition : {{ evolution.condition }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if poke_infos.evolution.mega %}
    <h3>Méga Évolution</h3>
    {% for mega in poke_infos.evolution.mega %}
    <img src="{{ mega.sprites.regular }}" alt="Image régulière de la méga évolution">
    <img src="{{ mega.sprites.shiny }}" alt="Image shiny de la méga évolution">
    {% endfor %}
    {% endif %}
    {% else %}
    <h3>Ce pokémon n'est pas le réultat d'une évolution !</h3>
    {% endif %}
</main>
{% endblock %}

{% block footer %}
{{ super() }}
<script>
    function toggleImages() {
        var image1 = document.getElementById('image1');
        var image2 = document.getElementById('image2');
        if (image1.classList.contains('hidden')) {
            image1.classList.remove('hidden');
            image2.classList.add('hidden');
        } else {
            image1.classList.add('hidden');
            image2.classList.remove('hidden');
        }
    }
</script>
{% endblock %}