@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/*  HEADER ET BARRE DE RECHERCHE */

.header{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    margin-bottom: 3rem;
}

.header img{
    width: 15rem;
    margin-left: 5rem;
}

.navbar{
    margin-right: 3rem;
    display: flex;
    justify-content: right;
}

.navbar a{
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 2rem 1.5rem;
    transition: 0.5s ease;
}

.navbar a:hover{
    color: yellow;
}

.corps form{
    text-align: center;
}

.corps form #button_recherche{
    color: white;
    background-color: blue;
    padding: 1rem 2rem;
}

.corps form #recherche{
    padding: 1rem;
}

/* FOOTER */

.row{
	display: flex;
}
ul{
	list-style: none;
}
footer{
	background-color: #24262b;
    padding: 50px;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color:white;
	margin-bottom: 30px;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: rgb(68, 125, 247);
	height: 2px;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	color: rgb(168, 162, 162);
}
